<div class="container">
  <div class="row">
    <div class="col margin-lg">
      <mat-card>
        <mat-card-header>
          <mat-card-title>HISB-Logger</mat-card-title>
          <mat-card-subtitle>Testing module ngx-hisb-logger</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>Start</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col margin-lg">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Fhir Validator</mat-card-title>
          <mat-card-subtitle>Testing module ngx-fhir-validator</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button>Start</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

